html,
body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: #3f1405;
}
canvas {
	display: block;
	background: #11221593;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.loader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12vh;
	width: 50%;
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.loader p {
	margin: auto;
	margin-top: 10%;
	margin-bottom: 0;
}

.loader img {
	width: 40vw;
	max-width: 500px;
	margin: auto;
	filter: hue-rotate(45deg) drop-shadow(2px 4px 6px grey) opacity(0.4);
}

.mySlides {
	display: none;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff !important;
	background-color: rgba(58, 58, 58, 0.103) !important;
	overflow: hidden;
}

.overlay2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff !important;
	background-color: rgb(58 58 58 / 50%) !important;
}

#lbt {
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	left: 30px; /* Place the button 30px from the right */
	z-index: 98; /* Make sure it does not overlap */
}
#rbt {
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
}
#sign {
	position: fixed;
	bottom: 20px;
	right: 30px;
	font-size: xx-small;
	z-index: 99;
	color: beige;
	display: none;
	text-align: right;
}
#lbt,
#rbt {
	border: none;
	outline: none;
	background-color: #ffffff0a;
	color: white;
	width: clamp(50px, 30vw, 80px);
	height: clamp(50px, 30vw, 80px);
	cursor: pointer;
	padding: 1rem;
	border-radius: 50%;
	font-size: 150%;
}

#myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}

.overlay:has(iframe) > iframe {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
